{
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
    },
    "logs": {
        "stryker": {
            "report": "/^.*$/"
        }
    }
}
