parameters:
    treatPhpDocTypesAsCertain: true
    level: max
    paths:
        - src
    ignoreErrors:
        - message: '#should return (string|int) but returns bool\|#'
          path: src/Socket.php
